@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NowBuySell | Coming Soon</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
    <link href="~/Assets/Admin/css/pages/Default/bootstrap_4.4.1.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/pages/Default/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/pages/Default/bd-coming-soon.css" rel="stylesheet" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body class="min-vh-100 d-flex flex-column">
    <main class="my-auto text-center">

    </main>
    <script src="~/Assets/js/vendor/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</body>
</html>