@{
	ViewBag.Title = Resources.PrivacyPolicy;
	var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
	bool RTL = CultureHelper.IsRighToLeft();
}
<style>
	/*English Content CSS Begin*/
	.wo-forumcontent p {
		text-align: justify;
	}

		.wo-forumcontent p:last-child {
			margin: 0 0;
		}

	.A {
		margin: 0 5% 0 5%;
	}

	.B {
		margin: 0 5% 0 5%;
	}

	.C {
		margin: 0 5% 0 5%;
	}

	.D {
		margin: 0 5% 0 5%;
	}

	.E {
		margin: 0 5% 0 5%;
	}

	[dir=ltr] .wo-safetyrole-list li:before {
		color: #2e1842;
		font-size: 10px;
		line-height: inherit;
		content: "\f111";
		font-family: "Font Awesome 5 Free";
		position: absolute;
		left: 0;
		top: 0;
		font-weight: 900;
	}
	/*English Content CSS End*/

	/*Arabic Content CSS Begin*/

	.ar-A .wo-forumcontent__description {
		margin: 0 2% 0 2%;
	}

	[dir=rtl] .wo-safetyrole-list li {
		text-align: justify;
		margin: 0 2% 0 2%;
	}

		[dir=rtl] .wo-safetyrole-list li:before {
			color: #2e1842;
			font-size: 10px;
			line-height: inherit;
			content: "\f111";
			font-family: "Font Awesome 5 Free";
			position: absolute;
			left: unset;
			right: 0;
			top: 0;
			font-weight: 900;
		}

	/*Arabic Content CSS Begin*/

	ol li::marker {
		font-weight: bold;
		color: #2e1842;
	}

	.wo-table > thead > tr > th {
		text-align: right !important;
		border-left: 1px solid #dee2e6 !important;
		border-right: 1px solid #dee2e6 !important;
	}

	.wo-table > tbody > tr > td {
		text-align: right !important;
		border-left: 1px solid #dee2e6 !important;
		border-right: 1px solid #dee2e6 !important;
		color: #676767 !important;
	}
</style>
@if (!RTL) //English
{
	<!-- PAGE CONTAINER START -->
	<div class="page-container">
		<!-- MAIN START -->
		<section class="wo-main-section wo-main-section-50">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wo-sectionhead">
							<div class="wo-sectionhead__title">
								@*<span>Great Review From Owners</span>*@
								<h2>@Html.Raw(Resources.PrivacyPolicyTag)</h2>
							</div>
							@*<div class="wo-sectionhead__description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etdolore magna aliqua enim adinim ullamco laborisn nisi ut aliquip exea commodo eniam quis nostrud exercitation consequat</p>
								</div>*@
						</div>
						<div class="wo-forumsingle-section wo-forumsingle-section-50">
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__description">
									<p>
										The “NOWBUYSELL” cares about the privacy rights of its customers. NowBuySell commits privacy protection with you. This Privacy Policy explains how we handle your data as a keeper of your personal data. The rights associated with your Personal Data are also covered under this. This Policy was last updated on 17 September, 2021.
									</p>
								</div>
							</div>
							<div class="sec-1">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>1. SCOPE</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											For the following purposes of this policy, we are the data controllers. Hence, the third parties, with whom you may make transactions, cannot hold us responsible for their privacy practices if not mentioned otherwise that we have direct relationships with them for our services.
										</p>
										<p>
											The information we collect about you, which allows us to identify you as an individual (“Per-sonal Data”), comes under this policy. This information we collect is in connection with our vehicle rental business. Any information that does not assist us in identifying you as an individ-ual does not come under this context. The information which does not come under the context of your Personal Data includes, but is not limited to, aggregated preferences, aggregated anon-ymous data, vehicle identification numbers, computer operation systems, etc.
										</p>
										<p>
											By all aspects, our website is not designed for under 13 individuals. It is thus stated that the col-lection of any Personal Data from such individuals shall be considered as an act performed in unawareness of the facts.
										</p>
									</div>
								</div>
							</div>
							<div class="sec-2">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>2. INFORMATION TYPES AND DATA COLLECTING METHODS </h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											The Personal Data we collect includes the one which you provide on applications, on our web-site, or offline during any reservations, purchases, inquiries, rentals, or services. This data can be collected directly or with the aid of our business partners, vendors, and service providers. We may collect more personal and general details about you through various means available offline or on internet. These details can be combined with data about your usage of applications and internet websites including the one We design. You may use different devices for reaching applications and websites designed by On My Way or other service providers designated by Us. These devices can also be used in the collection of information.
										</p>
										<p>
											You may provide us with your Personal Data on a voluntary basis, as per requirement before the signing of a contract with you, or in conformation to a legal obligation that could be con-tractual or statutory in nature. As mentioned in the Privacy Statement, the reasons behind the collection of Personal Data affects its types and the methods through which the data is obtained. Having said that, the failure to provide Personal Data, by you, might lead to certain drawbacks such as we might become unable to provide certain services or products to you.
										</p>
										<p>
											Unless you are authorized or possess the consent to disclose, use, or transfer the information about others, under the privacy policy, you shall not provide any information about others. Hence, the information you provide, in accordance with the Privacy Policy, shall warrant and represent the fact that you have been authorized by the person you are providing information about.
										</p>
									</div>
								</div>
								<div class="A">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>A. Information Collected:</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												There are certain types of information regarding you and your interaction with us that is collected by us. For example, but not limited to:
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Personal Information includes</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												It includes, Name, Email address, Contact number, Residential address, Gender, Birth date, Birth place, passport and license or any other ID, photographs, criminal record, background and other history.
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Technological Information</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												IP address, operating system, device ID, mobile phone identifiers, Language, Browsers, Geo-location, the place from where our website is used, webpages being visited, time of the visit, sites you visit before and after using our site, links you click on our website and all your activi-ties on our websites. Transaction you do through our website, the data you download or see on our website, and your views on the ads placed on our websites.
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Rental Information</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Information about paying card, your contact with Us, membership number, flyer number, affili-ations, Employee name, ID and contact info, location of booking, purchase and rental location, location where you returned, areas you visited with our rental vehicles, your preferences about vehicles, charges your bear, purchase details, and claims by you.
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Sensitive Data</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Personal Data that may be categorized as sensitive data in some countries, such as data regard-ing membership of trade unions or health conditions of an individual, can also be collected di-rectly or with the aid of our business partners, vendors, and service providers. However, with the lack of your consent, the processing of such data might not be possible depending upon the applicable local law. As stated above, data regarding health conditions are categorized as sensi-tive data in several countries, however, in certain cases, this data may need to be processed. For example, an accident where we need to work with claim management and insurance companies regarding injuries you may have inflicted or in other cases where you request us to accommo-date a disability, such as by provision of hand controls.
											</p>
											<p>
												In case you become a rental service provider or you wish to rent with us, you would be re-quired to provide sensitive data. However, it shall be noted that, as per Privacy Policy, usage of such data would be directed towards our operational uses. In addition, your consent shall be a subject of consideration where applicable law makes it binding.
											</p>
										</div>
									</div>
								</div>
								<div class="B">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>B. METHODS AND SOURCES </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												We along with rental service providers can collect information through various methods.
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Our site</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your calls records including reservations you make, emergency help, interaction with custom-ers, services, your interaction with our service providers, rental locations, personal meeting, technology used within the vehicle, any of your link with reservation whether cancelled or left in between, your online reservations, all your transactions, any accidents or incidents, sponsors or other affiliations, airlines, hotels, insurance providers or other which may or may not have direct relationship with us or from claim managers.
											</p>
										</div>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>Online or offline sources</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Mobile applications created by us, our social media pages, third party links, browsing you do on your computers, devices you use, call recordings.
											</p>
										</div>
									</div>
								</div>
								<div class="C">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>C. COOKIES AND INTERNET TOOLS</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												We would require statistical and other information (including the information described in <strong>Section 2.A</strong>) about your use of other websites and Our website. For that purpose, "cookies", pixel tags, web beacons, web servers, or other electronic tools might be placed, viewed, or used by Us or Our advertisers, advertising servers, business partners, and service providers.
											</p>
											<p>
												As per Our Privacy Policy, We and the parties working with Us may use the collected information for several purposes. These purposes are either stated in this policy or permitted by law on our authority or on the authority of third parties. The purposes include analysis, research, operational changes, and the compilation of anonymous and aggregate data about your use of websites, statistics and so on. Other than that, the usage of the information collected allows us to better serve Our website visitors such as granting access to certain sections of the website, enabling log-in, and displaying other content and internet advertisements customized as per your interests (described further below).
											</p>
											<p>
												Uses of information are possible on a wider scale based on cookie information. Hence, deleting or disabling the cookies would limit the use of information.
											</p>
										</div>
									</div>

								</div>
								<div class="D">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>D. WEB ADVERTISING </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Unique cookies or other electronic tools may be placed on your computer by Us, third-party advertisers or our designated service providers to display advertisements on other websites and Our website. Advertisements are directed towards your interests and displayed on the screen of your devices. These advertisements are selected with the aid of information collected about your activities and visits on our website. This information can either be used alone or in combination with other information. In order to optimize and manage Our product performance and online advertising, we may utilise pixel tags, web beacons, and other advanced technologies, that third-party advertising companies provide us with. The collection of information such as the banner ads which bring users to Our websites or the recognition of user visits to Our website is made easy by these technologies.
											</p>
											<p>
												Different types of technologies might be deployed and utilized over time as the internet and other eCommerce channels might develop. These different technologies would help us collect data regarding your usage or visit to Our website.
											</p>
										</div>
									</div>
								</div>
								<div class="E">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>E. VEHICLE MANUFACTURERS</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												It shall be noted that personal information may be collected about you through the rental vehicles you operate. The collection and use, in this case, is subjected to notices and policies of the vehicle manufacturer and we can not be held responsible for such activities.
											</p>
											<p>
												Different types of technologies might be deployed and utilized over time as the internet and other eCommerce channels might develop. These different technologies would help us collect data regarding your usage or visit to Our website.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="sec-3">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>3. PROCESSING PURPOSES</h3>
									</div>
								</div>
								<div class="A">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>A. SERVICES & ACTIVITES</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												We might use your information to provide you with the products and services you request from Us. This task may be performed directly or through the aid of Our business partners, booking channel providers, or service providers.
											</p>
											<p>
												Your information can also be used in communicating with you in matters of your status/membership in Our membership programs, any development in the features or the terms of membership programs you belong to, or in case of any rental transactions or reservations initiated by you.
											</p>
											<p>
												Your Personal Data is thus processed to the extent required in entering into a contract with you or in taking steps before the contract (if any requested by you).
											</p>
											<p>
												Your driving behaviour data may force On My Way to take serious actions. The specific form of data includes, but is not limited to, mileage, speed, damage data, geolocation, and braking. Driving behaviour data might be obtained from certain devices or gauges, in-vehicle telematics or based on other criteria concerning your usage and rental of Our vehicles. Action taken by On My Way, given the inappropriate use of Our vehicles, may include termination or suspension of your ability to rent Our vehicles. This information could also be provided or sold to third parties.
											</p>
										</div>
									</div>
								</div>
								<div class="B">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>B. MARKETING </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your Personal Data can be used to provide you with special offers, promotions, or marketing information either directly or with the aid of our booking channels, business partners, and service providers. These forms of information reach you through various means including e-mail or other mediums operating in compliance with your country’s applicable law.
											</p>
											<p>
												Your Personal Data is processed for these purposes based on your consent, provided that you give your consent to receive these marketing communications from Us. Nevertheless, assuming that the law of your country permits, your consent might not be required for the processing of your Personal Data for such purposes. As the subject goes regarding the actions permitted by the applicable law, your Personal Data could also be utilized for purposes relating to Our legitimate interests such as for promotions and special offers of Our products and services which might also intrigue you.
											</p>
											<p>
												You may choose to unsubscribe from notifications for anything. The details are given under "Contact Us" that an option to request at any time for not using your Personal Data to provide you with promotions and special offers (the specifications of personal data are covered in detail in Privacy Policy). It shall be noted that any requests made by you regarding any previous services or products, matters concerning your account, and responses to information inquired by you shall continue even after the opt-out processes. It shall also be noted that these processes are completed in consistency with applicable law thus, can take longer to complete. A separate request for unsubscribing might have to be formed to stop Third-party practices of communicating marketing material to you as We are not responsible for the practices of Third-party rental sponsoring organizations.
											</p>
										</div>
									</div>
								</div>
								<div class="C">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>C. THIRD-PARTY LINKS  </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your Personal Data is processed to the extent required for the smooth performance of our rental contract. Assuming any Third-Party organization exists, the Personal Data then shall be processed in relation to them. Please note that the privacy policy of the Third-Party organization and the purposes for which they use your information could be different from Us as we do not happen to be in charge of any of their privacy practices. Therefore, we would recommend you review their privacy policy beforehand. Having said that, the Third-Party organization could also use any of the Personal Data, they receive from Us, for their purposes, given the existence of your relationship with them. Their purposes shall be following their privacy policies or similar statements.
											</p>
										</div>
									</div>
								</div>
								<div class="D">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>D. NORMAL BUSINESS ASPECTS </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your Personal Data and other information might also be processed for the following reasons:
												(a)  In case the law, any law enforcement request, other legal processes, or court order makes it mandatory; (b) For the protection of Our and others’ rights, property, interests, or safety; (c) When requested by any terms and conditions of any utilization or rental or stated in the terms of service on Our website; (d) In response to the services requested by you or your designated representative and in performance of activities associated with these services, for example, collection and billing; (e) When introducing promotions or special offers, where permitted, that may intrigue you; (f) In case of any business transaction where some or all of Our assets are sold, transferred, or purchased by the terms of the contract or in accordance with the law; (g) For the smooth and proper operations of Our system.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="sec-4">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>4. DISCLOSURES</h3>
									</div>
								</div>
								<div class="A">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>A. THIRD-PARTY</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your personal and other information might be shared with Our service provider, booking channel providers and business partners for the purposes explained in this Policy. Other aggregate or anonymized information about users of Our website might be shared with third-parties. The specific form of information includes any rental or other usage information, information about the use of other websites and Our websites, and information about the services used on other websites and Our website. Any third-party organization in connection with you might be provided with information about you, by Us, to assist the completion of purchase or rental of a service.
											</p>
											<p>
												Third-party organizations or sponsors ("Third-Party Providers") might introduce you to special offers and promotions on its products and services that might intrigue you. These Third-Party Providers where permitted might be provided with your Personal Data for effective advertisement. Any time you want Us not to share your Personal Data, covered in Our Privacy Policy, with Third-Part Providers, you may instruct Us so by contacting Us in the manner explained ahead. It shall also be noted that (i) the opt-out processes are completed in consistency with applicable law thus, can take longer to complete; and (ii) the provision of your personal and other information to designated service providers may continue even after the opt-out process is complete.
											</p>
										</div>
									</div>
								</div>
								<div class="B">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>B. SOCIAL MEDIA</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												There exist certain public features of social media websites/apps and Our website/apps. Any information voluntarily disclosed during participation in these features becomes visible to the public or/and other users designated by you. It shall be noted that designated individuals provided with access credentials by you would gain access to any information or data you provide to Us. Thus, we can not be held responsible for the information made public by you or by others. Moreover, our Privacy Policy does not cover the use of such information by Us or by others.
											</p>
										</div>
									</div>
								</div>
								<div class="C">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>C. LINKS TO THIRD PARTIES </h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												We can be linked with websites belonging to third parties and may even provide links to them. However, we would recommend you to thoroughly go through the privacy policies of the third-party websites, before providing them with your information, as We stand under no legalities for the information you provide while visiting or using third-party websites.
											</p>
										</div>
									</div>
								</div>
								<div class="D">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>D. Vendors (for service takers)</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your Personal Information can be shared with Our vendors in certain situations. These situations might include responses to customer service complaints, the performance of activities related to previous or open products or services you purchased, or in completion of any rental or reservations made by you.
											</p>
										</div>
									</div>
								</div>
								<div class="E">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>E. GENERAL COURSE OF BUSINESS:</h3>
										</div>
										<div class="wo-forumcontent__description">
											<p>
												Your personal and other information can also be disclosed to unaffiliated third parties. The said disclosures might occur if, by good faith, we believe the following situations might have arisen: (a)  In case the law, any law enforcement request, other legal processes, or court order makes it mandatory; (b) For the protection of Our and others’ rights, property, interests, or safety; (c) When requested by any terms and conditions of any utilization or rental or stated in the terms of service on Our website; (d) In response to the services requested by you or your designated representative and in performance of activities associated with these services, for example, collection and billing; (e) When introducing promotions or special offers, where permitted, that may intrigue you; (f) In case of any business transaction where some or all of Our assets are sold, transferred, or purchased by the terms of the contract or in accordance with the law; (g) For the smooth and proper operations of Our system.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="sec-5">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>5. INTERNATIONAL TRANSFERS</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											The above-mentioned disclosures and uses also include the transfer of your Personal Data to other countries. These countries might process your personal data as per their levels of privacy protection. Nevertheless, the sharing of information would be performed in compliance with the applicable law.
										</p>
									</div>
								</div>
							</div>
							<div class="sec-6">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>6. ONLINE ADVERTISING </h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											Accepting the cookies is often programmed as a default feature in several browsers. However, browser settings can be amended for disabling cookies or setting notification alerts before sending cookies. Other than that, several mobile devices allow users to disable the automatic collection of geo-location data from them. Several mobile devices and browsers provide the user with the help function. The help function assists users in amending browser settings for disabling cookies or collection of geo-location information and in setting notification alerts before accepting cookies.
										</p>
										<p>
											The browser settings of devices you use to view websites are not connected, thus, each one of them would require separate amendments. Some parts of other websites or Our website would lack proper functioning in case you refuse the request of placing a cookie or disable cookies. Moreover, such exercises would also adversely affect the advertising feature which is harmonized with your interests by the aid of cookies you provide on other websites and on Our website. Individuals who use or visit Our website would have to provide us with tracking information. Our website may not respond to mechanisms requesting to disable online tracking including the “do not track” signal sent through web browsers.
										</p>
										<p>
											In the case of mobile devices, apps use and collect Personal Data. A separate Privacy Policy would require acceptance to supplement the Personal Data collected by mobile apps, given that the data is recognized to be different from the data specifications stated in this Policy.
										</p>
										<p>
											You may also choose to opt out of the collection of information by the mobile apps, in addition to the disabling features provided in the operating system of your mobile devices.
										</p>
									</div>
								</div>
							</div>
							<div class="sec-7">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>7. SECURITY</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											a. Technical, physical, personnel, and other measures are adopted by Us for the following reasons: (a) For the protection of Personal Data from modification, unauthorized use, theft, or disclosure; (b) To make sure that the integrity of your Personal Data is unharmed. Having said that, the maintenance of secrecy of passwords, login IDs, or Member numbers depends upon you. Other than that, information about credentials or identifiers whom you authorized or who were provided with useful data, being in connection with your usage and participation in Our website and services, shall completely remain secretive on your behalf.
										</p>
										<p>
											As matter of fact, a completely secure way of storing or transmitting data does not exist. The possibilities of interception, misrouting, misuse, or loss of data occur in the transmission of data no matter the physical characteristics of the transmitting medium is either telephone calls, postal mail, text messages, faxes, or transmissions over the wireless network or the internet, all are subjected to a possible breach of security. You must contact Us on an immediate basis given that you believe, on the basis of certain reasons, that the security of your account on Our website is under threat.
										</p>
										<p>
											We try to achieve a balance between the convenience of the user and the security of his/her data. Therefore, oftentimes We may communicate with you through a less secure medium to increase your convenience, for example, but not limited to, an unencrypted or instantly readable form of text message as users find it hard to access coded or encrypted forms of messages or e-mail. Therefore, the text message or e-mail containing any form of Personal Data could be easily read if intercepted or misrouted. It is thus recommended not to include your confidential information in any text message or e-mail you send to Us. The confidential information might include your account passwords, credit card numbers, or other personal data. Any such information shall also not be stated in any of your public posts on a third-party social networking page, given that such posts become instantly visible to the public eye. You may "Contact Us" on our website if you desire safe communication with Us.
										</p>
									</div>
								</div>
							</div>
							<div class="sec-8">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>8. RETAINING DATA</h3>
									</div>
									<p>
										<strng>a.</strng> We retain your personal data for necessary period for the sake of purpose we collected it at first and permitted by the law. We store and access that information at various locations. We may utilize cloud services for storage.
									</p>
								</div>
							</div>
							<div class="sec-9">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>9. Access and sale prohibition</h3>
									</div>
									<p>
										<strng>a.</strng> if you want to make any changes in your data you can contact us. We will make reasonable changes; however, we may impose some restrictions where needed according to laws. If you are member, you can make allowed changes by signing in the profile.
									</p>
									<p>
										<strng>b.</strng> you can; (for personal data)
										<br />(a) request to rectify your data,
										<br />(b) object on processing,
										<br />(c) object on legitimate processing,
										<br />(d) request to delete any of your data,
										<br />(e) request restriction on your Data,
										<br />(f) ask for data portability,
										<br />(g) object against automated decision making.
									</p>
									<p>
										<strng>c.</strng> you can withdraw your consent anytime you want. You can also request us for making any changes or restrict sui to exercise any of the rights mentioned.
									</p>
								</div>
							</div>
							<div class="sec-10">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>10. COMPLAINTS</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											You can contact Us if you have any questions. We are responsible for third-party agents that are processing your data with our permission. However, if we are not involved, we will prove that we are not responsible for any kind of damage.
										</p>
									</div>
								</div>
							</div>
							<div class="sec-11">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>11. CONTACT US</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											Please contact Us by emailing <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a>
										</p>
									</div>
								</div>
							</div>
							<div class="sec-12">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>12. CHANGES</h3>
									</div>
									<div class="wo-forumcontent__description">
										<p>
											We reserve the right to make changes to this Privacy Policy at any time for any reason. We will notify for the changes and such changes will be effective upon updating on the website.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- MAIN END -->
	</div>
	<!-- PAGE CONTAINER END -->
}
else //Arabic
{
	<!-- PAGE CONTAINER START -->
	<div class="page-container">
		<!-- MAIN START -->
		<section class="wo-main-section  wo-main-section-50">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wo-sectionhead">
							<div class="wo-sectionhead__title">
								@*<span>Great Review From Owners</span>*@
								@*<h2>@Html.Raw(Resources.PrivacyPolicyTag)</h2>*@
								<h2>سياسة <em> الخصوصية </em></h2>
							</div>
							@*<div class="wo-sectionhead__description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etdolore magna aliqua enim adinim ullamco laborisn nisi ut aliquip exea commodo eniam quis nostrud exercitation consequat</p>
								</div>*@
						</div>
						<div class="wo-forumsingle-section wo-forumsingle-section-50 text-right">
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__description">
									<p>
										تحترم منصة "On My Way" حقوق الخصوصية المُقرة لعملائنا ونلتزم بحماية خصوصيتك. توضح سياسة الخصوصية هذه أو "السياسة" إجراءات معالجة البيانات لدينا "كجهة مراقبة" فيما يتعلق ببياناتك الشخصية، بالإضافة إلى حقوقك المرتبطة ببياناتك الشخصية. تم تحديث السياسة بتاريخ 31 أغسطس 2021.
									</p>
								</div>
							</div>
							<div class="ar-A">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>أ‌.	لمحة سريعة:</h3>
									</div>
									<div class="ar-A-1">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>1.	النطاق</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>تغطي هذه السياسة المعلومات التي نحصل عليها منك فيما يتعلق باستئجار سيارتنا</span></li>
												<li><span>لا تغطي هذه السياسة المعلومات التي لا يمكن استخدامها لتحديد هويتك كفرد.</span></li>
											</ul>
										</div>
									</div>
									<div class="ar-A-2">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>2.	المعلومات التي قد نجمعها (ما نجمعه وكيف نجمعه)</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>يجوز لنا نحن والمعلنين والمرخص لهم وشركاء العمل والجهات الراعية جمع معلومات منك بطرق مختلفة بما في ذلك (على سبيل المثال لا الحصر) من خلال المكالمات الهاتفية وجهات اتصال خدمة العملاء وتطبيقات الهاتف المحمول والمواقع الإلكترونية  والمصادر الأخرى.</span></li>
												<li><span>نجمع المعلومات من العملاء أثناء عملية الحجز ومعاملات الإيجار كالاسم والعنوان ومعلومات بطاقة الدفع.</span></li>
												<li><span>البيانات الشخصية لتزويدك بخدمات تأجير استثنائية بما في ذلك (على سبيل المثال لا الحصر):</span></li>
												<li><span>الاسم ورقم الهاتف والعنوان وتاريخ الميلاد</span></li>
												<li><span>رخصة القيادة أو جواز السفر أو غيرها من أشكال تعريف الهوية</span></li>
												<li><span>بيانات الجدارة الائتمانية أو المعلومات الأساسية الأخرى</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-3">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>3.	أغراض المعالجة</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>تُستخدم المعلومات التي تقدمها لتزويدك بالخدمات التي تطلبها.</span></li>
												<li><span>نستخدم معلومات الاتصال التي تقدمها للتواصل معك.</span></li>
												<li><span>نستخدم "ملفات تعريف الارتباط" والأدوات الإلكترونية الأخرى لجمع معلومات إحصائية حول استخدامك لمواقعنا الإلكترونية. تُستخدم هذه المعلومات لأغراض البحث ولأسباب أخرى وذلك بصورة عامة لمساعدة عملائنا بشكل أفضل من خلال إظهار الطريقة التي يمكننا بها تحسين خدماتنا.</span></li>
												<li><span>نستخدم المعلومات الشخصية للأغراض التحليلية الخاصة.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-4">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>4.	إفصاحات الجهات الخارجية</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>يمكن أن نقدم المعلومات الخاصة بك لموفري الخدمات المعينين من الجهات الخارجية والجهات الراعية لخصومات الإيجار الذين تستخدمهم والمرخص لهم لدينا وكذلك الكيانات الأخرى.</span></li>
												<li><span>يجوز لنا بيع معلوماتك أو استثمارها بطريقة أخرى لجهات خارجية  غير ذات صلة حيثما يسمح القانون بذلك.</span></li>
												<li><span>يجوز لنا تشارك معلوماتك لأغراض تسويقية مع تلك الجهات التي نبرم معها أي اتفاق لتقديم إعلانات مشتركة شرط الحصول على موافقتك على ذلك.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-5">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>5.	التحويلات الدولية</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>قد تُنقل معلوماتك خارج بلدك أو محل إقامتك إلى بلدان أخرى لأغراض إتمام إجراءات المعالجة والتخزين اللازمة.</span></li>
												<li><span>يجوز نقل معلوماتك خارج بلدك أو محل إقامتك بناءً على تعليماتك.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-6">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>6.	الأمن</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>نستخدم تدابير معقولة لحماية البيانات الشخصية من السرقة أو الاستخدام غير المصرح به أو الكشف عنها أو التعديل.</span></li>
												<li><span>نسعى للحفاظ على تطبيق الضمانات المادية والإجرائية والإلكترونية المناسبة لحماية بياناتك الشخصية.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-7">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>7.	حماية البيانات</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>نحتفظ عموماً ببيانات العملاء إلى حد ما نراه لازماً للأغراض الذي يتم جمع تلك المعلومات لها أو حسبما تسمح به القوانين السارية. </span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-8">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>8.	الوصول والتصحيح وإمكانية النقل</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>يُكفل لك حق الوصول لمراجعة أو تحديث البيانات الشخصية التي يتم جمعها منك وعنك حتى تتمكن من تغيير أي معلومات غير صحيحة.</span></li>
												<li><span>نلتزم ببذل قصارى الجهد لتلبية طلبك، لكننا نحتفظ بالحق في فرض قيود ومتطلبات معينة.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-9">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>9.	سحب الموافقات أو الشكاوى</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>عند استخدامنا للموافقات كأساس للمعالجة، يمكنك دائماً سحب تلك الموافقات.</span></li>
												<li><span>إذا شعرت بانتهاك هذه السياسة، فسنعمل معك لتبديد مخاوفك.</span></li>
											</ul><br />
										</div>
									</div>
									<div class="ar-A-10">
										<div class="wo-forumcontent__description">
											<div class="wo-forumcontent__title">
												<h3>10.	التغييرات</h3>
											</div>
											<ul class="wo-safetyrole-list ml-3">
												<li><span>يجوز لنا تعديل سياسة الخصوصية هذه في أي وقت، لكن لن يتم تطبيق التغييرات بأثر رجعي.</span></li>
												<li><span>نلتزم بإخطارك عند إدخال تغييرات جوهرية عن طريق نشر إشعار تنبيه بذلك على الصفحات الرئيسية لمواقعنا الإلكترونية.</span></li>
												<li><span>هدفنا تزويد عملائنا بخدمات ممتازة. نسعى لتوسيع نطاق عملنا ونهدف إلى الالتزام بجميع قوانين الخصوصية التي تُطبق على البيانات التي نجمعها ونستخدمها. تخضع هذه السياسة لشرط الالتزام بالقوانين المحلية. وفي حال أقرت هذه السياسة معايير أعلى مما تقتضيه القوانين المحلية، فحينئذ تنظم هذه السياسة الطريقة التي تتعامل بها منصة "On My Way" مع بياناتك الشخصية. بتقديمك بياناتك الشخصية لنا أو لموفري الخدمات المعينين لدينا أو للجهات الخارجية الأخرى كما هو مذكور في هذه السياسة، فإنك توافق على استخدامنا لبياناتك والكشف عنها للأغراض التشغيلية والأغراض الأخرى المحددة بهذه السياسة.</span></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="ar-sec-1">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>1.	النطاق والمراقبين</h3>
									</div>
									<p>
										نعمل كمراقبين للبيانات للأغراض التالية بهذه السياسة. لا نتحمل المسؤولية عن ممارسات الخصوصية المتبعة لدى الجهات الخارجية التي قد تتعامل معها.
									</p>
									<p>
										تغطي هذه السياسة المعلومات التي نجمعها عنك فيما يتعلق بشركات تأجير السيارات لدينا والتي تُستخدم أو يمكن استخدامها لتحديد هويتك كفرد ("البيانات الشخصية"). لا يسري العمل بتلك السياسة على المعلومات التي لا يمكن أن تحدد هويتك بشكل معقول كفرد. فعلى سبيل المثال لا الحصر، لن تُضمن البيانات المجمعة غير محددة الهوية وأنظمة تشغيل الكمبيوتر والتفضيلات المجمعة وأرقام تعريف السيارة ... الخ ضمن بياناتك الشخصية.
									</p>
									<p>
										مواقعنا الإلكترونية غير مخصصة للأفراد الذين تقل أعمارهم عن 13 عاماً، ونحن لا نجمع عن علم أي بيانات شخصية من أولئك الأفراد.
									</p>
								</div>
							</div>
							<div class="ar-sec-2">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>2.	جمع البيانات؛ الطريقة ونوع البيانات</h3>
									</div>
									<p>
										نقوم - سواء بشكل مباشر أو من خلال موفري الخدمات وشركاء العمل والبائعين لدينا - بجمع البيانات الشخصية التي تقدمها على موقعنا الإلكتروني والتطبيقات وفي المعاملات التي تتم دون الاتصال بالإنترنت فيما يتعلق بأي استفسارات أو حجوزات أو معاملات إيجار أو شراء أو خدمات. يمكن الجمع بين المعلومات التي يجري جمعها حول استخدامك لموقعنا الإلكتروني أو تطبيقاتنا أو المواقع الإلكترونية الأخرى وأي معلومات شخصية أو معلومات أخرى عنك يتم الحصول عليها من مصادر أخرى خلال الاتصال بالإنترنت أو دون الاتصال به. نجمع كذلك البيانات الشخصية عبر جميع الأجهزة التي تستخدمها للوصول إلى المواقع الإلكترونية  أو التطبيقات الخاصة بنا وموفري الخدمة المعينين لدينا.
									</p>
									<p>
										قد يتطلب الأمر تقديمك بياناتك الشخصية لنا بمقتضى التزام قانوني قد يتمثل في التزام قانوني أو تعاقدي، وقد يتم ذلك اختيارياً أو قد يتطلب الأمر منا إبرام عقد به معك وذلك استناداً للأغراض التي نجمع ونستخدم بياناتك الشخصية لأجل تحقيقها وفق المنصوص عليه في بيان الخصوصية هذا. إذا لم تزودنا ببياناتك الشخصية، فقد يترتب على ذلك تكبدك بعض الأضرار التي تشمل (على سبيل المثال) عدم تمكننا من تقديم منتجات أو خدمات معينة لك. مع ذلك وما لم يرد النص على خلاف هذا، لن يترتب على عدم تقديمك بياناتك الشخصية أي تبعات قانونية بالنسبة لك.
									</p>
									<p>
										لا تقدم معلومات عن الآخرين ما لم يكن مصرحاً لك بالقيام بهذا ويثبت حصولك على موافقة لاستخدام جميع المعلومات والكشف عنها ونقلها وفقاً لسياسة الخصوصية هذه. بتقديمك معلومات عن الآخرين، تُقر وتتعهد بأنه يحق لك القيام بهذا وبأنك حصلت على تصريح من الشخص الذي تقدم المعلومات عنه بذلك وفقاً لسياسة الخصوصية.
									</p>
								</div>
							</div>
							<div class="ar-2A mx-2-per">
								<div class="ar-2A-A">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>أ. 	أنواع المعلومات التي يتم جمعها: </h3>
										</div>
										<p>
											نقوم - سواء بشكل مباشر أو من خلال موفري الخدمات وشركاء العمل والبائعين لدينا - بجمع البيانات الشخصية التي تقدمها على قد تتضمن أنواع المعلومات التي يتم جمعها عنك وعن تفاعلاتك معنا (على سبيل المثال لا الحصر):
										</p>
									</div>
									<div class="wo-forumcontent table-ar-1">
										<table class="table wo-table p-0 border">
											<thead>
												<tr>
													<th class="no-top-border" data-label="معلومات شخصية">معلومات شخصية</th>
													<th class="no-top-border" data-label="معلومات تقنية">معلومات تقنية</th>
													<th class="no-top-border" data-label="بيانات الإيجار">بيانات الإيجار</th>
												</tr>
											</thead>
											<tbody id="table-1-tbody">
												<tr>
													<td data-label="اسمك">اسمك</td>
													<td data-label="عنوان IP؛">عنوان IP؛</td>
													<td data-label="بيانات بطاقة الدفع">بيانات بطاقة الدفع</td>
												</tr>
												<tr>
													<td data-label="عنوان البريد الإلكتروني">عنوان البريد الإلكتروني</td>
													<td data-label="معرف الجهاز؛">معرف الجهاز؛</td>
													<td data-label="فيديو لك ولتفاعلك معنا">فيديو لك ولتفاعلك معنا</td>
												</tr>
												<tr>
													<td data-label="رقم الهاتف">رقم الهاتف</td>
													<td data-label="عنوان IP؛">عنوان IP؛</td>
													<td data-label="رقم العضوية">رقم العضوية</td>
												</tr>
												<tr>
													<td data-label="عنوان محل الإقامة">عنوان محل الإقامة</td>
													<td data-label="نوع المتصفح؛">نوع المتصفح؛</td>
													<td data-label="رقم المسافر الدائم">رقم المسافر الدائم</td>
												</tr>
												<tr>
													<td data-label="تاريخ ومكان الميلاد">تاريخ ومكان الميلاد</td>
													<td data-label="اللغة؛">اللغة؛</td>
													<td data-label="برنامج الولاء">برنامج الولاء</td>
												</tr>
												<tr>
													<td data-label="الجنس">الجنس</td>
													<td data-label="نظام التشغيل؛">نظام التشغيل؛</td>
													<td data-label="الانتماءات المؤسسية">الانتماءات المؤسسية</td>
												</tr>
												<tr>
													<td data-label="السن">السن</td>
													<td data-label="مُعرفات جهاز الجوال؛">مُعرفات جهاز الجوال؛</td>
													<td data-label="رقم معرف الموظف">رقم معرف الموظف</td>
												</tr>
												<tr>
													<td data-label="رقم جواز السفر">رقم جواز السفر</td>
													<td data-label="بيانات الموقع الجغرافي؛">بيانات الموقع الجغرافي؛</td>
													<td data-label="اسم صاحب العمل وبيانات الاتصال الخاصة به">اسم صاحب العمل وبيانات الاتصال الخاصة به</td>
												</tr>
												<tr>
													<td data-label="رخصة القيادة أو بطاقة الهوية الأخرى">رخصة القيادة أو بطاقة الهوية الأخرى</td>
													<td data-label="الدولة أو البلد التي تدخل إلى مواقعنا الإلكترونية منها؛">الدولة أو البلد التي تدخل إلى مواقعنا الإلكترونية منها؛</td>
													<td data-label="مكان الحجز">مكان الحجز</td>
												</tr>
												<tr>
													<td data-label="صورة فوتوغرافية">صورة فوتوغرافية</td>
													<td data-label="صفحات الويب المحددة التي زرتها؛">صفحات الويب المحددة التي زرتها؛</td>
													<td data-label="مكان الإيجار أو الشراء">مكان الإيجار أو الشراء</td>
												</tr>
												<tr>
													<td data-label="الدرجة الائتمانية وسجل العمل">الدرجة الائتمانية وسجل العمل</td>
													<td data-label="تاريخ ووقت الزيارة؛">تاريخ ووقت الزيارة؛</td>
													<td data-label="مكان الإرجاع">مكان الإرجاع</td>
												</tr>
												<tr>
													<td data-label="السجل الجنائي">السجل الجنائي</td>
													<td data-label="المواقع الإلكترونية التي زرتها تماماً قبل وبعد زيارتك للمواقع الإلكترونية الخاصة بنا؛">المواقع الإلكترونية التي زرتها تماماً قبل وبعد زيارتك للمواقع الإلكترونية الخاصة بنا؛</td>
													<td data-label="المناطق الجغرافية التي تمت زيارتها">المناطق الجغرافية التي تمت زيارتها</td>
												</tr>
												<tr>
													<td data-label="الخلفية">الخلفية</td>
													<td data-label="عدد الروابط والروابط الخاصة التي ضغطت عليها على مواقعنا الإلكترونية؛">عدد الروابط والروابط الخاصة التي ضغطت عليها على مواقعنا الإلكترونية؛</td>
													<td data-label="التفضيلات وبيانات الاستخدام">التفضيلات وبيانات الاستخدام</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="الوظائف التي استخدمتها على موقعنا الإلكتروني؛">الوظائف التي استخدمتها على موقعنا الإلكتروني؛</td>
													<td data-label="الرسوم المتكبدة">الرسوم المتكبدة</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="أي حجوزات أو تحديثات أو معاملات شراء أو أي معاملات أخرى أتممتها من خلال موقعنا الإلكتروني؛ ">أي حجوزات أو تحديثات أو معاملات شراء أو أي معاملات أخرى أتممتها من خلال موقعنا الإلكتروني؛ </td>
													<td data-label="أسعار وتفاصيل الشراء ">أسعار وتفاصيل الشراء </td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="البيانات التي استعرضتها أو قمت بتنزيلها من على موقعنا الإلكتروني؛ و">البيانات التي استعرضتها أو قمت بتنزيلها من على موقعنا الإلكتروني؛ و</td>
													<td data-label="بيانات السفر">بيانات السفر</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="عدد المرات التي استعرضت فيها أي إعلانات محددة">عدد المرات التي استعرضت فيها أي إعلانات محددة</td>
													<td data-label="البيانات المرتبطة بالدعاوى">البيانات المرتبطة بالدعاوى</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>البيانات الحساسة: </h3>
										</div>
										<p>
											يجوز لنا، سواء بشكل مباشر أو من خلال موفري الخدمات وشركاء العمل والبائعين التابعين لنا، جمع بيانات شخصية معينة تمثل بيانات حساسة في بعض البلدان وذلك مثل البيانات المتعلقة بالظروف الصحية أو بيانات العضوية بأي اتحاد تجاري. وفقاً لأحكام القوانين المحلية السارية، قد لا نتمكن من معالجة هذه البيانات الحساسة دون موافقتك. تعتبر البيانات المتعلقة بحالتك الصحية بيانات حساسة في العديد من البلدان. إذا طلبت منا التعامل مع أحد أشكال الإعاقة من خلال توفير أدوات التحكم اليدوية على سبيل المثال أو  عند وقوع حادث يترتب عليها التزامنا بالعمل مع شركات التأمين وشركات إدارة المطالبات فيما يتعلق بأي إصابة قد تتعرض لها، فقد نحتاج إلى معالجة بيانات حول ظروفك الصحية.
										</p>
										<p>
											يرجى العلم بأنه إن كنت ترغب في إتمام معاملة استئجار لدينا أو العمل كموفر لخدمات التأجير مع التزامك بتقديم بيانات حساسة، فإننا سنستخدم تلك البيانات الحساسة في استخداماتنا التشغيلية كما هو موضح بسياسة الخصوصية تلك شريطة الحصول على موافقتك حسبما يلزم وفقاً لأحكام القوانين السارية.
										</p>
									</div>
								</div>
								<div class="ar-2A-B">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>ب.	طرق ومصادر جمع البيانات: </h3>
										</div>
										<p>
											يمكن أن نقوم، بشكل مباشر ومن خلال موفري الخدمات وشركاء العمل وموفري خدمات التأجير، بجمع معلوماتك باستخدام مجموعة متنوعة من الطرق. هذه الطرق يمكن أن تشمل (على سبيل المثال لا الحصر):
										</p>
									</div>
									<div class="wo-forumcontent table-ar-2">
										<table class="table wo-table p-0 border">
											<thead>
												<tr>
													<th class="no-top-border" data-label="أثناء الاتصال بالإنترنت وفي غير أوقات الاتصال">أثناء الاتصال بالإنترنت وفي غير أوقات الاتصال</th>
													<th class="no-top-border" data-label="الموقع الإلكتروني الخاص بنا؛">الموقع الإلكتروني الخاص بنا؛</th>
												</tr>
											</thead>
											<tbody id="table-1-tbody">
												<tr>
													<td data-label="" تطبيقات" الجوال المتاحة لدينا">"تطبيقات" الجوال المتاحة لدينا</td>
													<td data-label="المكالمات التي ترد من / أو تصدر إلى مراكز الحجز أو خدمة العملاء أو المساعدة في حالات الطوارئ أو الاتصال بالعملاء أو مراكز رعاية الأعضاء؛">المكالمات التي ترد من / أو تصدر إلى مراكز الحجز أو خدمة العملاء أو المساعدة في حالات الطوارئ أو الاتصال بالعملاء أو مراكز رعاية الأعضاء؛</td>
												</tr>
												<tr>
													<td data-label="صفحات شبكة التواصل الاجتماعي الرسمية الخاصة بنا للجهات الخارجية؛">صفحات شبكة التواصل الاجتماعي الرسمية الخاصة بنا للجهات الخارجية؛</td>
													<td data-label="التفاعل مع مزودي خدمات التأجير المختلفين ومعنا؛">التفاعل مع مزودي خدمات التأجير المختلفين ومعنا؛</td>
												</tr>
												<tr>
													<td data-label="متصفحات الويب المتاحة على جهاز الكمبيوتر الخاص بك">متصفحات الويب المتاحة على جهاز الكمبيوتر الخاص بك</td>
													<td data-label="التواجد شخصياً بمراكز التأجير">التواجد شخصياً بمراكز التأجير</td>
												</tr>
												<tr>
													<td data-label="شبكات التواصل الاجتماعي للجهات الخارجية">شبكات التواصل الاجتماعي للجهات الخارجية</td>
													<td data-label="التقنيات التي تُتاح داخل السيارات أو المعدات أو من خلال أجهزة الاتصال عن بُعد الأخرى؛">التقنيات التي تُتاح داخل السيارات أو المعدات أو من خلال أجهزة الاتصال عن بُعد الأخرى؛</td>
												</tr>
												<tr>
													<td data-label="خدمات التواصل عن بعد">خدمات التواصل عن بعد</td>
													<td data-label="وقت انضمامك لنا؛">وقت انضمامك لنا؛</td>
												</tr>
												<tr>
													<td data-label="تسجيلات المكالمات">تسجيلات المكالمات</td>
													<td data-label="فيما يتعلق بأي حجز (حتى الحجوزات التي يتم التخلي عنها أو الحجوزات المتقطعة)">فيما يتعلق بأي حجز (حتى الحجوزات التي يتم التخلي عنها أو الحجوزات المتقطعة)</td>
												</tr>
												<tr>
													<td data-label="تسجيلات الفيديو">تسجيلات الفيديو</td>
													<td data-label="تأجير إحدى المركبات؛">تأجير إحدى المركبات؛</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="الحجوزات التي تتمها معنا من خلال خدمات البائعين عبر الإنترنت أو بشمل شخصي؛">الحجوزات التي تتمها معنا من خلال خدمات البائعين عبر الإنترنت أو بشمل شخصي؛</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="المعاملات التي تُتمها معنا ومع بائعينا والرسوم التي تتكبدها وأي حوادث أو عوارض قد تقع؛">المعاملات التي تُتمها معنا ومع بائعينا والرسوم التي تتكبدها وأي حوادث أو عوارض قد تقع؛</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="الجهات الراعية أو رعاة الأكواد الترويجية أو الانتساب أو أكواد الخصومات الخاصة؛">الجهات الراعية أو رعاة الأكواد الترويجية أو الانتساب أو أكواد الخصومات الخاصة؛</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="وكالات إعداد تقارير المستهلك؛">وكالات إعداد تقارير المستهلك؛</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="والشركات الأخرى التي قد تربطها / أو لا تربطها علاقات تجارية بنا وبشركات الطيران والفنادق وشركات التأمين">والشركات الأخرى التي قد تربطها / أو لا تربطها علاقات تجارية بنا وبشركات الطيران والفنادق وشركات التأمين</td>
												</tr>
												<tr>
													<td data-label=""></td>
													<td data-label="موفرو خدمات إدارة المطالبات (سواء كانوا تابعين لنا مباشرة أو تديرهم جهة خارجية)">موفرو خدمات إدارة المطالبات (سواء كانوا تابعين لنا مباشرة أو تديرهم جهة خارجية)</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="ar-2A-C">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>ج‌.	استخدام ملفات تعريف الارتباط والأدوات الإلكترونية الأخرى:</h3>
										</div>
										<p>
											يجوز لنا ولموفري الخدمات لدينا وشركاء العمل والمعلنين وخوادم الإعلانات وضع أو عرض أو استخدام "ملفات تعريف الارتباط" أو سجلات خادم الويب أو إشارات الويب أو علامات البكسل أو الأدوات الإلكترونية الأخرى لجمع المعلومات الإحصائية وغيرها حول استخدامك لموقعنا والمواقع الإلكترونية الأخرى. وهذه المعلومات قد تتضمن تلك المعلومات المحددة أعلاه في القسم 2 (أ).
										</p>
										<p>
											يجوز لنا وللأطراف التي نعمل معها - حسبما ورد بيانه في سياسة الخصوصية هذه - استخدام المعلومات التي يتم جمعها للأغراض المحددة بهذه السياسة أو حسبما يسمح به القانون وذلك إما نيابة عنا أو عن جهات خارجية بما في ذلك التغييرات التشغيلية وإجراءات البحث والتحليل لغرض تقديم خدمة أفضل لزوار المواقع الإلكترونية  الخاصة بنا (بما في ذلك تمكين تسجيل الدخول أو إتاحة الوصول إلى أقسام معينة من المواقع الإلكترونية أو توفير محتوى مخصص أو تقديم إعلانات عبر الإنترنت مصممة خصيصاً لك أو بما يتناسب مع اهتماماتك حسب المذكور أدناه)، وكذلك لغرض جمع معلومات مجمعة ومجهولة المصدر حول استخدام المواقع الإلكترونية الخاصة بنا والمواقع الإلكترونية الأخرى والإحصائيات الأخرى والمزيد من المهام الأخرى.
										</p>
										<p>
											إذا حذفت ملفات تعريف الارتباط وعطلتها، فلن تكون هذه الاستخدامات ممكنة إلى حد اعتمادها على بيانات ملفات تعريف الارتباط.
										</p>
									</div>
								</div>
								<div class="ar-2A-D">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>د. 	الإعلان عبر شبكات الويب: </h3>
										</div>
										<p>
											قد نضع نحن أو موفري الخدمات لدينا أو المعلنين الخارجيين ملفات تعريف ارتباط فريدة على جهاز الكمبيوتر الخاص بك أو قد نستخدم أدوات إلكترونية أخرى للمساعدة في عرض الإعلانات التي تراها على موقعنا الإلكتروني أو على المواقع الإلكترونية الأخرى. تُستخدم المعلومات المتعلقة بزياراتك ونشاطاتك على موقعنا الإلكتروني  والمواقع الأخرى وحدها أو مع معلومات أخرى لعرض إعلانات على شاشة جهازك قد تحظى باهتمامك. يمكننا أن نستخدم إشارات الويب أو علامات البكسل أو غيرها من التقنيات المماثلة التي توفرها شركات الإعلانات التابعة لجهات خارجية للمساعدة في إدارة وتحسين إعلاناتنا وأداء المنتج عبر الإنترنت. تتيح لنا هذه التقنيات إمكانية التعرف على زيارات المستخدمين إلى مواقعنا الإلكترونية ومعرفة أشرطة الإعلانات التي تجذب المستخدمين إلى مواقعنا الإلكترونية.
										</p>
										<p>
											مع استمرار تطور الإنترنت وقنوات التجارة الإلكترونية الأخرى، قد ننشر ونستخدم أنواعاً مختلفة من التقنيات لجمع البيانات المتعلقة بزياراتك أو استخداماتك.
										</p>
									</div>
								</div>
								<div class="ar-2A-E">
									<div class="wo-forumcontent">
										<div class="wo-forumcontent__title">
											<h3>هـ. جهات تصنيع المركبات: </h3>
										</div>
										<p>
											يرجى العلم بأن المركبات المستأجرة التي تشغلها قد تجمع معلومات شخصية عنك. لن نتحمل المسؤولية عن هذه الأنشطة إذا تخضع عمليات جمع (واستخدام) المعلومات تلك لسياسات وإشعارات الجهة المصنعة للسيارة.
										</p>
									</div>
								</div>
							</div>
							<div class="ar-sec-3">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>3.	أغراض المعالجة</h3>
									</div>
									<div class="ar-sec-3-para mx-2-per">
										<div class="ar-sec-3-A">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>أ.	التشغيل والخدمات: </h3>
												</div>
												<p>
													يمكننا - بشكل مباشر أم من خلال موفري الخدمات وشركاء العمل وموفري قنوات الحجز لدينا - استخدام معلوماتك لتزويدك بالخدمات أو المنتجات التي تطلبها منا.
												</p>
												<p>
													قد نستخدم معلوماتك للتواصل معك فيما يتعلق بأي حجز تطلبه أو معاملة تأجير أو فيما يتعلق بعضويتك / حالتك بأحد برامج العضوية لدينا أو بالتغييرات التي تُدخَل على شروط أو مزايا أي من برامج العضوية التي تنتمي لها.
												</p>
												<p>
													لذلك نقوم بمعالجة بياناتك الشخصية لهذه الأغراض حسبما يلزم لتنفيذ العقد المبرم معك أو لاتخاذ الخطوات اللازمة بناءً على طلبك قبل إبرام أي عقد معك.
												</p>
												<p>
													قد تتخذ منصة "On My Way" الإجراءات على أساس سلوكك في القيادة وبيانات سلوكيات القيادة الخاصة بك (بما في ذلك، على سبيل المثال لا الحصر، بيانات تحديد الموقع الجغرافي والسرعة والمسافة المقطوعة والكبح والتلف) التي يتم الحصول عليها من تقنيات الاتصال عن بعد الموجودة داخل السيارة والأجهزة أو المقاييس الأخرى أو بتطبيق المعايير الأخرى ذات الصلة باستئجارك واستخدامك سياراتنا. قد تشمل تلك الإجراءات تعليق أو إنهاء قدرتك على متابعة استئجار المركبات من على منصة "On My Way". ويمكننا كذلك أن نقدم أو نبيع هذه المعلومات لجهات خارجية .
												</p>
											</div>
										</div>
										<div class="ar-sec-3-B">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>ب. خدمات التسويق لدينا:</h3>
												</div>
												<p>
													يمكننا - بشكل مباشر أم من خلال موفري الخدمات وشركاء العمل وموفري قنوات الحجز لدينا – وفقاً لأحكام القوانين السارية أن نستخدم بياناتك الشخصية لتزويدك بمعلومات تسويقية وعروض خاصة وعروض ترويجية عبر وسائل مختلفة بما في ذلك البريد الإلكتروني.
												</p>
												<p>
													عند حصولنا على موافقة منك على إرسال هذه المراسلات التسويقية لك، نعالج بياناتك الشخصية لهذه الأغراض على أساس موافقتك؛ على الرغم من أنه  يجوز لنا (حسبما يسمح به وفق القوانين السارية) أن نستخدم بياناتك الشخصية بشكل قانوني لإرسال مثل هذه المراسلات التسويقية (بما في ذلك عبر البريد الإلكتروني) دون موافقتك. يجوز لنا كذلك (حسبما يسمح به وفق القوانين السارية) معالجة بياناتك الشخصية لأغراض التسويق تلك حسبما تقتضيه مصالحنا المشروعة بما في ذلك الترويج لمنتجاتنا وخدماتنا والعروض الخاصة والعروض الترويجية التي تحظى باهتمامك.
												</p>
												<p>
													يمكنك أن تلغي الاشتراك في تلقي مثل هذه الرسائل في أي وقت عن طريق الاتصال بنا باستخدام التفاصيل المحددة أدناه تحت العنوان "اتصل بنا" بالإضافة إلى رابط إلغاء الاشتراك الذي تتضمنه كل رسالة بريد إلكتروني. يمكنك كذلك أن تطلب في أي وقت عدم استخدام بياناتك الشخصية التي تغطيها سياسة الخصوصية هذه لتزويدك بعروض ترويجية خاصة عن طريق الاتصال بنا باستخدام التفاصيل المحددة أدناه تحت العنوان "اتصل بنا". يرجى العلم بأنه إذا مارست هذه الخيارات، فسيستمر تلقيك المراسلات المتعلقة بحسابك والمنتجات والخدمات التي تطلبتها واستجابة لأي طلبات تُقدم للحصول على معلومات من طرفك. يرجى العلم كذلك بأن عملية إلغاء الاشتراك هذه قد تستغرق بعض الوقت حتى تكتمل وفق القوانين السارية. تتحمل المنظمات الراعية لخدمات التأجير التابعة لجهات خارجية المسؤولة وحدها عن ممارساتها الخاصة، ويجب إرسال طلب إلغاء اشتراك إلى أي منظمة ترغب في إيقاف تلقي مواد تسويقية منها.
												</p>
											</div>
										</div>
										<div class="ar-sec-3-C">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>ج‌.	الأغراض المرتبطة بالجهات الخارجية</h3>
												</div>
												<p>
													نعالج بياناتك الشخصية فيما يتعلق بالمنظمات الخارجية (إن وجد) إلى حد ما يلزم لأداء العقد المبرم معنا بخصوص خدمات التأجير. قد تطبق المؤسسات الخارجية ممارسات خصوصية مختلفة عن ممارسات الخصوصية المتبعة لدينا، ولذا نوصيك بمراجعة سياسة الخصوصية الخاصة بهم للأغراض التي سيستخدمون فيها بياناتك. بما أننا لا نتحكم في ممارسات الخصوصية المتبعة لديهم، فقد لا تتطابق تلك الممارسات مع الممارسات المتبعة لدينا. على الرغم من ذلك ونظراً للعلاقة القائمة بينك وبينهم، يمكنهم استخدام البيانات الشخصية التي يتلقونها منا للأغراض المحددة ضمن سياسات الخصوصية المتبعة لديهم أو البيانات المماثلة.
												</p>
											</div>
										</div>
										<div class="ar-sec-3-D">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>د‌.	السير العادي للعمل</h3>
												</div>
												<p>
													يمكننا كذلك معالجة بياناتك الشخصية والمعلومات الأخرى إن اقتضى الحال إجراءات تلك المعالجة لغرض:
												</p>
												<p>
													(أ) 	الامتثال لأحكام القانون أو استجابة لأمر صادر عن المحكمة أو طلب لإنفاذ القانون أو أي إجراء قانوني آخر؛ (ب) لحماية المصالح أو الحقوق أو السلامة أو الممتلكات الخاصة بنا أو بالآخرين؛ (ج) لإنفاذ أي شروط خدمة على مواقعنا الإلكترونية أو شروط وأحكام أي معاملات تأجير أو استخدام؛ (د) لتزويدك والآخرين بالخدمات التي تطلبونها أو التي يطلبها ممثلك المعين، ولأداء الأنشطة الأخرى المتعلقة بهذه الخدمات بما في ذلك إصدار الفواتير وتحصيل الأموال؛ (هـ) لتزويدك بعروض أو عروض ترويجية خاصة من طرفنا والتي قد تحظى باهتمامك حسبما يُسمح به؛ (و) كجزء من أي معاملة تجارية يتم من خلالها شراء أو بيع  كامل / أو بعض أصولنا بمقتضى قانون أو عقد؛ أو (ز) لتشغيل أنظمتنا بشكل صحيح.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ar-sec-4">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>4.	الإفصاح عن البيانات للجهات التابعة والجهات الخارجية</h3>
									</div>
									<div class="ar-sec-4-para mx-2-per">

										<div class="ar-sec-4-A">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>أ. موفري الخدمات من الجهات الخارجية: </h3>
												</div>
												<p>
													للأغراض المحددة بهذه السياسة، قد نتشارك معلوماتك الشخصية والمعلومات الأخرى مع موفري الخدمات وشركاء العمل وموفري قنوات الحجز لدينا. قد نتشارك كذلك مع جهات خارجية معلومات مجمعة أو مجهولة المصدر حول مستخدمي موقعنا  كبيانات استخدامك لهذا الموقع أو للمواقع الأخرى والخدمات التي يجري تقديمها على هذا الموقع أو المواقع الإلكترونية الأخرى وكذلك أي معلومات تأجير أو استخدام. وقد نقدم معلومات عنك وعن تفاعلاتك معنا إلى أي منظمة تابعة لجهة خارجية تستخدمها لإتمام أي معاملة تأجير أو شراء للخدمات.
												</p>
												<p>
													يمكننا كذلك (حسبما يُسمح به) أن نتشارك بياناتك الشخصية مع أي جهة راعية أو أي جهة خارجية أخرى توفر لك العروض أو أي عروض ترويجية خاصة قد تحظى باهتمامك ("موفري الخدمات من الجهات الخارجية"). يمكنك أن تطلب منا في أي وقت عدم مشاركة بياناتك الشخصية التي تغطيها سياسة الخصوصية هذه مع موفري الخدمات من الجهات الخارجية من خلال الاتصال بنا بالطريقة المحددة أدناه. يرجى العلم بأن (1) عملية إلغاء الاشتراك هذه قد تستغرق بعض الوقت لإتمامها وفقاً لأحكام القوانين السارية؛ و (2) حتى بعد اكتمال عملية إلغاء الاشتراك هذه، قد يستمر تشارك معلوماتك الشخصية والمعلومات الأخرى مع موفري الخدمات المعينين.
												</p>
											</div>
										</div>
										<div class="ar-sec-4-B">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>ب.	وسائل التواصل الاجتماعي:</h3>
												</div>
												<p>
													إن ثبتت مشاركتك في بعض المزايا العامة لمواقعنا الإلكترونية أو تطبيقاتنا أو مواقع / تطبيقات وسائل التواصل الاجتماعية الخاصة بنا، يرجى العلم بأن أي معلومات تقوم (سواء أنت أو غيرك) بالإفصاح عنها طواعية باستخدام هذه المزايا تصبح متاحة للعامة و / أو للمستخدمين الآخرين الذين تحددهم. إذا اخترت تقديم بيانات اعتماد الوصول إلى أفراد محددين، يرجى العلم بأن أي معلومات تقدمها لنا قد يطلعا عليها أولئك الأفراد. لن نتحمل المسؤولية عن المعلومات التي تختار (سواء أنت أو الجهات الأخرى) الكشف عنها علناً ولن يخضع استخدامنا أو استخدام الآخرين لهذه المعلومات لسياسة الخصوصية هذه.
												</p>
											</div>
										</div>
										<div class="ar-sec-4-C">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>ج.	روابط الدخول إلى المواقع الإلكترونية الخارجية: </h3>
												</div>
												<p>
													يمكننا تقديم روابط يمكن من خلالها الدخول إلى المواقع الخارجية أو يمكن من خلالها الوصول إلى مواقعنا من المواقع الإلكترونية الخارجية. ونظراً لأننا لا نتحكم في المواقع الخارجية ولا نتحمل المسؤولية عن أي معلومات قد تقدمها أثناء وجودك على هذه المواقع، فإننا نشجعك على قراءة سياسات الخصوصية المتبعة على تلك المواقع قبل تزويد الجهات الخارجية ذات الصلة بمعلوماتك.
												</p>
											</div>
										</div>
										<div class="ar-sec-4-D">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>د. 	موفري الخدمات (بالنسبة لمتلقي الخدمات):</h3>
												</div>
												<p>
													يمكننا تقديم معلوماتك الشخصية إلى موفري الخدمات لدينا حسب الحاجة لإكمال إجراءات الحجز أو الإيجار أو للمساعدة في حل مشكلات خدمة العملاء أو لأداء أي أنشطة أخرى تتعلق بالخدمات أو المنتجات المفتوحة أو السابقة التي قدمناها لك.
												</p>
											</div>
										</div>
										<div class="ar-sec-4-E">
											<div class="wo-forumcontent">
												<div class="wo-forumcontent__title">
													<h3>هـ. السير العادي للعمل: </h3>
												</div>
												<p>
													يمكن أن نكشف كذلك عن معلوماتك الشخصية وأي معلومات أخرى لجهات خارجية غير تابعة إذا ارتأينا بحسن نية أن هذا الكشف ضروري لغرض: (أ) الامتثال لأحكام القانون أو استجابة لأمر صادر عن المحكمة أو طلب لإنفاذ القانون أو أي إجراء قانوني آخر؛ (ب) لحماية المصالح أو الحقوق أو السلامة أو الممتلكات الخاصة بنا أو بالآخرين؛ (ج) لإنفاذ أي شروط خدمة على مواقعنا الإلكترونية أو شروط وأحكام أي معاملات تأجير أو استخدام؛ (د) لتزويدك والآخرين بالخدمات التي تطلبونها أو التي يطلبها ممثلك المعين، ولأداء الأنشطة الأخرى المتعلقة بهذه الخدمات بما في ذلك إصدار الفواتير وتحصيل الأموال؛ (هـ) لتزويدك بعروض أو عروض ترويجية خاصة من طرفنا والتي قد تحظى باهتمامك حسبما يُسمح به؛ (و) كجزء من أي معاملة تجارية يتم من خلالها شراء أو بيع  كامل / أو بعض أصولنا بمقتضى قانون أو عقد؛ أو (ز) لتشغيل أنظمتنا بشكل صحيح
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ar-sec-5">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>5.	التحويلات الدولية</h3>
									</div>
									<p>
										قد تتضمن بعض الاستخدامات والإفصاحات المذكورة ضمن سياسة الخصوصية هذه نقل ومعالجة بياناتك الشخصية إلى بلدان مختلفة حول العالم والتي قد تطبق مستويات حماية خصوصية تختلف عن تلك المستويات المتبعة في بلدك؛ علماً بأنه سيتم على الرغم من ذلك تشارك نفس المعلومات وفقاً لأحكام القانون.
									</p>
								</div>
							</div>
							<div class="ar-sec-6">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>6.	ملفات الارتباط وخيارات الدعاية على شبكة الإنترنت</h3>
									</div>
									<p>
										خُصصت العديد من المتصفحات لقبول ملفات تعريف الارتباط بشكل افتراضي. قد تتمكن من ضبط متصفحك لتعطيل ملفات تعريف الارتباط أو تنبيهك عند إرسال ملفات تعريف الارتباط. تسمح لك العديد من الأجهزة المحمولة بتعطيل القدرة على جمع معلومات الموقع الجغرافي من جهازك المحمول. تحتوي وظيفة المساعدة بمعظم المتصفحات والأجهزة المحمولة على إرشادات حول طريقة ضبط متصفحك لإخطارك قبل قبول ملفات تعريف الارتباط أو تعطيل ملفات تعريف الارتباط أو تعطيل خاصية جمع بيانات الموقع الجغرافي.
									</p>
									<p>
										تحتاج إلى ضبط كل متصفح على كل جهاز تستخدمه لعرض المواقع الإلكترونية . إن قمت بتعطيل ملفات تعريف الارتباط أو رفضت قبول أي طلب لوضع أحد ملفات تعريف الارتباط، فقد لا تعمل بعض أجزاء مواقعنا الإلكترونية أو المواقع الإلكترونية الأخرى بشكل سليم وقد لا تتناسب الإعلانات التي تتلقاها عند زيارتك مواقعنا الإلكترونية أو المواقع الإلكترونية الأخرى مع اهتماماتك. قد لا نرد على إشارة "عدم التتبع" لمتصفح الويب أو أي آلية أخرى تشير إلى طلب لتعطيل التتبع عبر الإنترنت للأفراد الذين يستخدمون أو يزورون موقعنا الإلكتروني.
									</p>
									<p>
										وفيما يتعلق بتطبيقات الأجهزة المحمولة، تختلف إجراءات جمع واستخدام أي تطبيق للبيانات الشخصية بشكل جوهري عما هو محدد بهذه السياسة علماً بأن ذلك سيتم تتمته بسياسة خصوصية فردية يجب عليك الموافقة عليها.
									</p>
									<p>
										بالإضافة إلى الخيارات التي توفرها أنظمة تشغيل الأجهزة المحمولة الخاصة بك، يمكنك إلغاء الاشتراك في وظائف جمع المعلومات على تطبيقات الأجهزة المحمولة.
									</p>
								</div>
							</div>
							<div class="ar-sec-7">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>7.	الأمن</h3>
									</div>
									<p>
										أ.	نطبق إجراءات إدارية وفنية وشخصية ومادية معقولة (أ) لحماية البيانات الشخصية من الفقد أو السرقة أو الاستخدام غير المصرح به أو الإفصاح أو التعديل؛ و (ب) لضمان سلامة بياناتك الشخصية. ولمساعدتنا في حماية خصوصيتك، يجب عليك الحفاظ على سرية أي مُعرّفات تسجيل دخول وكلمات مرور أو أرقام للأعضاء أو أي مُعرّفات أو بيانات اعتماد أخرى تكون قد أعددتها أو جرى تقديمها فيما يتعلق بمشاركتك أو استخدامك لخدماتنا أو موقعنا الإلكتروني .
									</p>
									<p>
										كما تعلم، ليست هناك طريقة آمنة تماماً لنقل البيانات أو تخزينها. وعلى الرغم من اختلاف خصائصها المادية، إلا أن طرق البريد والمكالمات الهاتفية والرسائل النصية ورسائل الفاكس والمراسلات التي يجري تبادلها عبر الإنترنت أو باستخدام الشبكات اللاسلكية تكتنفها جميعها احتمالات فقد البيانات المنقولة وسوء توجيهها واعتراضها وإساءة استخدامها. ولذا إن كان لديك سبب وجيه يدعوك للاعتقاد بأن أي حساب مفتوح لدينا لم يعد آمناً، فعليك الاتصال بنا على الفور.
									</p>
									<p>
										نسعى لتحقيق التوازن بين أمن بياناتك وراحتك. ونتيجة لذلك، قد نستخدم أحياناً طريقة اتصال أقل أماناً من بديل أقل ملاءمة. على سبيل المثال لا الحصر، قد نرسل لك رسالة بريد إلكتروني أو رسالة نصية بصيغة غير مشفرة (أي يمكن قراءتها على الفور) وذلك لعجز العديد من عملائنا عن الوصول إلى رسائل البريد الإلكتروني أو الرسائل المشفرة (المرمزة). هذا يعني أن رسائلنا - حال إساءة توجيهها أو اعتراضها - يمكن قراءتها بسهولة أكبر من الرسائل المشفرة. هذه الرسائل قد تتضمن بيانات شخصية. يرجى عدم تضمين معلومات سرية كرقم بطاقة الائتمان الخاصة بك أو كلمات المرور لحساباتك ضمن أي رسائل بريد إلكتروني أو رسائل نصية ترسلها لنا أو تُضمنها بأي منشور تنشره في منطقة عامة على صفحة شبكة تواصل اجتماعي تابعة لجهة خارجية خصوصاً إن ثبتت إتاحة هذا المنشور على الفور للعامة. للحصول على طريقة أكثر أماناً للتواصل معنا عبر الإنترنت، يرجى "الاتصال بنا" على موقعنا الإلكتروني.
									</p>
								</div>
							</div>
							<div class="ar-sec-8">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>8.	الاحتفاظ بالبيانات والنزاهة</h3>
									</div>
									<p>
										أ. 	نحتفظ بالبيانات الشخصية لعملائنا إلى حد ما يلزم للأغراض التي يجري جمع تلك المعلومات لأجل تحقيقها أو ما لم تسمح القوانين السارية بخلاف ذلك. تُخزن المعلومات ويتم الوصول لها في مواقع مختلفة ويمكن استخدام الخدمات وإجراءات التخزين السحابية.
									</p>
								</div>
							</div>
							<div class="ar-sec-9">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>9.	الوصول والتصحيح والبيع والحظر وإمكانية النقل</h3>
									</div>
									<p>
										أ. 	للوصول إلى بياناتك الشخصية التي تغطيها سياسة الخصوصية هذه أو مراجعتها أو تحديثها، يرجى الاتصال بنا. مع التزامنا ببذل الجهود المعقولة لتلبية طلباتك، نحتفظ بالحق في فرض قيود ومتطلبات معينة على طلبات الوصول تلك إن سمحت القوانين السارية بذلك أو أوجبته. إذا كنت عضواً بأحد برامج العضوية أو المكافآت الخاصة بنا، يمكنك تحديث ملف تعريف العضو الخاص بك عن طريق تسجيل الدخول إلى ملف تعريف العضو المحدد لك.
									</p>
									<p>
										ب.	لك الحق في: (أ) طلب تصحيح بياناتك الشخصية؛ (ب) الاعتراض على معالجة بياناتك الشخصية لأغراض التسويق المباشر؛ (ج) الاعتراض على معالجة بياناتك الشخصية (بما في ذلك التوصيف) إن ثبت أن الأساس القانوني لمعالجة بياناتك الشخصية يتمثل في الحاجة للقيام بذلك لخدمة مصالحنا المشروعة؛ (د) طلب محو بياناتك الشخصية؛ (هـ) طلب تقييد بياناتك الشخصية؛ (و) ممارسة حقك في نقل البيانات؛ و (ز) الاعتراض على عمليات الاتخاذ الآلي للقرارات (بما في ذلك إجراءات التوصيف).
									</p>
									<p>
										ج.	بالإضافة إلى ذلك، يمكن لعملاءنا أو موردينا عند معالجتنا للبيانات الشخصية الخاصة بهم بعد موافقتهم على ذلك وفق المنصوص عليه في سياسة الخصوصية هذه، سحب هذه الموافقة في أي وقت.
										يمكنك تقديم طلب لنا لممارسة أي من هذه الحقوق عن طريق الاتصال بنا.
									</p>
									<p>
										د‌.	الحق في النسيان: قد نحتفظ ببياناتك الشخصية حسب الضرورة بغية تحقيق الأغراض التي تم جمع البيانات الشخصية لأجل تحقيقها. قد نحتفظ كذلك بهذه البيانات الشخصية وفقاً لما تقتضيه أحكام القانون أو التعاقد من أجل الوفاء بالتزاماتنا القانونية وحماية حقوقنا القانونية. ومع ذلك يمكنك أن تطلب حذف بياناتك الشخصية بمجرد انتهاء الغرض المنشود من جمعها مع عدم توافر سبب قانوني يدفعنا للاحتفاظ بها. يمكنك تقديم هذا الطلب عن طريق الاتصال بنا عبر الآلية المحددة بهذه السياسة. إذا لم نتمكن من حذف بياناتك الشخصية لأحد الأسباب المحددة بهذه السياسة، فسوف نبين لك السبب وراء عدم تمكننا من تنفيذ طلبك.
									</p>
								</div>
							</div>
							<div class="ar-sec-10">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>10.	الشكاوى</h3>
									</div>
									<p>
										يرجى الاتصال بنا إن كانت لديك أي استفسارات أو إن كنت بحاجة للوصول إلى بياناتك الشخصية أو بحاجة للمساعدة بأي طريقة أخرى. نتحمل كذلك المسؤولية عن الوكلاء الخارجيين الذين يعالجون هذه البيانات نيابة عنا ما لم نتمكن من إثبات عدم تحملنا المسؤولية عن الحدث المُفضي لوقوع الضرر.
									</p>
									<p>
										إن كانت لديك شكاوى بشأن انتهاك معالجة بياناتك الشخصية لسياسة الخصوصية هذه، يمكنك الاتصال بنا وسنعمل على الرد على شكواك وحلها بسرعة.
									</p>
								</div>
							</div>
							<div class="ar-sec-11">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>11.	اتصل بنا</h3>
									</div>
									<p>
										يرجى الاتصال بنا باستخدام البريد الإلكتروني <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a>.
									</p>
								</div>
							</div>
							<div class="ar-sec-12">
								<div class="wo-forumcontent">
									<div class="wo-forumcontent__title">
										<h3>12.	التغييرات</h3>
									</div>
									<p>
										نحتفظ بالحق في تغيير سياسة الخصوصية هذه في أي وقت ولأي سبب من خلال نشر المراجعات على صفحة الويب هذه أو على التطبيقات أو المواقع الأخرى المحددة. يسري العمل بتلك التغييرات عند نشرها لكنها لا تُطبق بأثر رجعي. عند إدخالنا أي تغيير مادي، نلتزم بتدوين تاريخ هذا التحديث في الفقرة التمهيدية أعلاه ونشر إشعار تنبيه به على الصفحة الرئيسية لمواقعنا الإلكترونية المحددة.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- MAIN END -->
	</div>
	<!-- PAGE CONTAINER END -->
}