@{
	ViewBag.Title = Resources.SupportAndHelp;
	var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
	bool RTL = CultureHelper.IsRighToLeft();
}
<style>
	.wo-forumcontent p {
		text-align: justify;
	}
</style>
@if (!RTL) //English
{
	<!-- PAGE CONTAINER START -->
	<div class="page-container">
		<!-- MAIN START -->
		<section class="wo-main-section wo-main-section-50">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wo-sectionhead">
							<div class="wo-sectionhead__title">
								@*<span>Great Review From Owners</span>*@
								<h2>@Html.Raw(Resources.SupportAndHelpTag)</h2>
							</div>
							@*<div class="wo-sectionhead__description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etdolore magna aliqua enim adinim ullamco laborisn nisi ut aliquip exea commodo eniam quis nostrud exercitation consequat</p>
								</div>*@
						</div>
						<div class="wo-forumsingle-section wo-forumsingle-section-50">
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Customer Support</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Helpline availability: available 7 Days a Week
									</p>
									<p>
										It is our responsibility to give our customers the best services and offers, not only a few days but, the services are available 7 days a week. If you need help, please call us at <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>How can you Book a vehicle? </h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										With just a few simple steps you can book a ride on nowbuysell.com. For booking you only have to go to our website and pick-up your location and the date and then you can go through the easy reservation steps and it's all done. If you want any further help, you can contact us on <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>The Rental Requirements</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Before heading on with nowbuysell.com you have to know the simple terms and conditions to hire a ride for yourself.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Driving license</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										You should have a fresh and a valid License. If you have any problem or your license is disqualified then please contact on <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a> before booking any vehicle. If you are having any problem with that, they may stop you from hiring a vehicle.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Age Restrictions</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Your age should be at least 18 years old to rent a car with nowbuysell.com. The age limit also depends on the vehicle, pick-up location, and it also depends on the count of days that how many days you want to hire a vehicle.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Driving Across UAE</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										The procedure for booking the vehicle for any region across UAE is the same.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>The Fuel Options</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										You will be given a vehicle with very less fuel. You have to fill the fuel in the car by yourself, which you will use during your journey.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Payment Options</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										The following payment options are given by nowbuysell.com when you book rental cars online:
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Pre-Paid Option</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Here is a Pre-paid option which will help to access the cheapest rates online in advance. At first you would be charged for the normal rates set for rental cars and additional fees (if there is any) if you select any luxury vehicle depending upon the facilities.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Pay at the time of taking the vehicle</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										If you want to pay the money on the location you can pay it without any problem. The rent of the car or any additional amount, depending on the vehicle that you choose can be paid in the local currency on the location from where you will take the vehicle.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Payment methods</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										All main credit and debit cards are accepted by our website nowbuysell.com and you can also (add any). But an important thing is that the card must be on the driver's name.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h4>The changes and the cancellations</h4>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Cancellations:</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										You can cancel your booking online by contacting us on our email <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a> or you can simply cancel it from the cancellation option on the app.
									</p>
									<p>
										And, if you are a prepaid customer and you have cancelled your booking before two nights then we will refund the payment without any hesitation. However, an extra charge would apply if the cancellation is made after the given time and the website will deduct the amount from the credit or debit card which you have used before for the booking of the vehicle.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>The changes in booking. </h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Any changes could be made by you for the booking before the time of departure or before the number of days you want to hire the car without any problem until 48 hours before it's your vehicle pick-up time. However, for any emergencies you can call at <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Not Showing up</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										If you did not collect your vehicle and have forgotten or for any reason not cancelled your reservation before your pick-up time, the Supplier with whom you have booked a car reserves the right to charge you an amount of fee for not showing up.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Return of vehicle Timings</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										When you book a vehicle, you get a confirmation email on which the date and the time are mentioned for the return of the vehicle and the return information is also mentioned in the rental record.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>The Late Return Charges</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										You should return the vehicle at time to refrain from inconvenience. In other cases, suppliers might charge you for returning their vehicle late. You might be allowed a limited grace time, but this is entirely up to the supplier.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Unattended Returns</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										If you get any emergency reasons for not returning the vehicle back to the supplier on time that the supplier has given, you should discuss it with them at the start of your rental.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Returning the vehicle to a Different Location</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										It is a possible situation that you return the car to a different location. This is dependent on the supplier and you must tell beforehand about the possibility of changing the location. For these, additional charges may apply.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Return Damage Inspection</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										The vehicle will be checked for the condition at the drop-off time. If any damages are caused, charges would apply on the type of the damage that has occurred and the level of your insurance.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Resolving Damage Claims</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										When you return to your location, the owner of the vehicle will compare the condition of the vehicle from before and after. The damages might charge you if there is any damage.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Leaving Feedback on your Experience</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Feedback brings many improvements to a website. We love to take feedback from our customers. You can give your reviews and suggestions to nowbuysell.com about our services and vehicles.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>How to Make a Complaint?</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										We are happy to hear all your concerns at <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a> and <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>Temporary documentation for the lost or stolen license</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										If your UAE driver's license has been lost, has expired or is being renewed, temporary documents provided by the government of UAE are accepted by nowbuysell.com
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>What are the general conditions to hire a car through nowbuysell.com?</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Generally, to rent a car with us, the driver must be at least 18 years old, hold a valid credit card in his/her full name, a clean driving license.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>What is the condition of cash payment for the rental car?</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										Cash payments are accepted at some locations. However, terms and conditions may apply in any case, the driver must present a valid credit card in his/her name as a guarantee upon the pickup. For further details, call at <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- MAIN END -->
	</div>
	<!-- PAGE CONTAINER END -->
}
else //Arabic
{
	<!-- PAGE CONTAINER START -->
	<div class="page-container">
		<!-- MAIN START -->
		<section class="wo-main-section  wo-main-section-50">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wo-sectionhead">
							<div class="wo-sectionhead__title">
								@*<span>Great Review From Owners</span>*@
								@*<h2>@Html.Raw(Resources.SupportAndHelpTag)</h2>*@
								<h2>الدعم و <em> المساعدة </em></h2>
							</div>
							@*<div class="wo-sectionhead__description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etdolore magna aliqua enim adinim ullamco laborisn nisi ut aliquip exea commodo eniam quis nostrud exercitation consequat</p>
								</div>*@
						</div>
						<div class="wo-forumsingle-section wo-forumsingle-section-50 text-right">
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>دعم العملاء</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										أوقات إتاحة خط المساعدة: 7 أيام في الأسبوع
									</p>
									<p>
										نلتزم بتزويد عملائنا بأفضل الخدمات ونقدم لهم خدمات الدعم 7 أيام في الأسبوع. إذا كنت بحاجة للمساعدة، يرجى الاتصال بنا على الرقم <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>كيف يمكنك حجز سيارة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يمكنك حجز سيارة على موقع nowbuysell.com ببضع خطوات بسيطة. قم بزيارة صفحتنا الرئيسية واختر مكان وتاريخ الاستلام ثم اتبع إجراءات الحجز السهلة لدينا لإتمام حجزك. في حال رغبت في الحصول على مزيد من المساعدة، يمكنك الاتصال بنا على الرقم <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>متطلبات الإيجار</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										قبل استئجار إحدى السيارات من على موقع nowbuysell.com، يجب عليك أن تتعرف على متطلبات الإيجار المطبقة لدينا.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>رخصة القيادة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										تحتاج إلى رخصة قيادة سارية المفعول و / أو تصاريح القيادة الدولية اللازمة. إن صدرت لك أي مصادقات أو قرارات بعدم أهليتك للقيادة، يرجى الاتصال بنا على <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a> قبل الحجز إذ أن عدم قيامك بذلك قد يترتب عليه منعك من استئجار إحدى السيارات.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>القيود المرتبطة بالسن</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يجب أن يقل عمرك عن 18 عاماً لاستئجار سيارة من على موقع nowbuysell.com. وقد يختلف الحد الأدنى للعمر على أساس السيارة ومكان الاستلام وعدد الأيام التي ستستأجر خلالها السيارة.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>القياد بدولة الإمارات العربية المتحدة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										إجراء حجز سيارة لأي منطقة بدولة الإمارات العربية المتحدة واحد.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>خيارات الوقود</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										سيتم تزويد سيارتك بأقل كمية من الوقود ولذا يجب عليك أن تزود السيارة بالوقود بنفسك لاستخدامه خلال فترة الإيجار.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>خيارات الدفع</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										نقدم لك خيارات الدفع التالية عند حجز تأجير السيارات عبر الإنترنت:
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>خيارات الدفع المسبق</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										خيار الدفع المسبق هو خيار الحصول على أرخص الأسعار مقدماً عبر الإنترنت. تتم محاسبتك بالأسعار العادية المحددة لتأجير السيارات والرسوم الإضافية (إن وجد) على أساس اختيارك للسيارة.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>الدفع وقت تسلم السيارة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										إن كنت تفضل دفع جميع الرسوم في الموقع بما في ذلك سعر الإيجار، فسيتم فرض رسوم إضافية (إن وجد) على أساس اختيارك خلال وقت الحجز بموقع الاستلام بالعملة المحلية.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>طرق الدفع</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										نقبل معظم بطاقات الائتمان والخصم الرئيسية و (إن أضفنا أياً منها). ويجب أن تكون البطاقات صادرة باسم السائق.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h4>التعديلات والإلغاء وعدم الحضور</h4>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>الإلغاء</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يمكنك إلغاء حجزك عبر الإنترنت من خلال خيار "الإلغاء أو التعديل" أو من خلال الاتصال بنا على <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a>
										بالإضافة إلى ذلك، إن قمت بإجراء حجز مسبق الدفع وكنت تخطط للإلغاء في موعد أقصاه منتصف الليل قبل يومين من التاريخ المحدد لك لاستلام السيارة، فإننا سنقوم برد قيمة الحجز بالكامل. ومع ذلك، سيتم فرض رسوم إدارية إن تم الإلغاء بعد الوقت المحدد وسيتم خصم هذا المبلغ من بطاقة الائتمان أو الخصم التي استخدمتها لحجز السيارة
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>تعديلات الحجز</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يمكنك دون مقابل إدخال تعديلات على الوقت أو على عدد الأيام التي ترعب في استئجار السيارة خلالها حتى 48 ساعة من الموعد المحدد لك لاستلام السيارة. ومع ذلك يمكنك في حالات الطوارئ الاتصال بنا على الرقم <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>عدم الحضور</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										إذا لم تكن استلمت سيارتك ونسيت حجزك أو لم تلغه لأي سبب من الأسباب قبل موعد الاستلام، يحتفظ المورد الذي حجزت معه سيارة بالحق في تحصيل مبلغ من الرسوم نظير عدم الحضور.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>أوقات إرجاع السيارة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يتحدد التاريخ والوقت المقررين لك لإعادة السيارة المستأجرة ببساطة ضمن رسالة التأكيد الإلكترونية وسجل التأجير عند حجزك للسيارة.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>رسوم التأخر في إرجاع السيارة</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يجب عليك أن تعيد السيارة في الوقت المحدد لتجنب أي إزعاج. وفي الحالات الأخرى، قد يفرض عليك الموردون رسوماً عند التأخر في إعادة سيارتهم. وقد تُمنح وقت سماح محدود لكن هذا الأمر متروك تماماً للمورد.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>الإرجاع دون وجود مراقب</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										إذا اضطررت إلى إعادة سيارتك في غير أوقات العمل المحددة لدى المورد، فيجب عليك مناقشة ذلك الأمر معهم في بداية الاستئجار.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>إرجاع السيارة إلى مكان مختلف</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										من المحتمل أن تعيد السيارة إلى مكان مختلف على أساس المسار الذي تسلكه. يعتمد قبول هذا الأمر على المورد ويجب أن تُشير مسبقاً إلى إمكانية تغييرك موقع الإرجاع وقد يتم فرض رسوم إضافية عن ذلك.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>التفتيش عن الأضرار عند الإرجاع</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يتم فحص السيارة وقت التسليم للتأكد من حالتها. وفي حال ثبت حدوث أي أضرار، يتم فرض رسوم على ذلك بناءً على طبيعة الضرر ومستوى التغطية التأمينية الخاصة بك.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>تسويات مطالبات الضرر</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يلتزم مالك السيارة في مكان الإرجاع بمقارنة حالة السيارة بوضعها قبل الإيجار حسب المذكور في سجلاتهم أو نماذجهم؛ ومن الممكن أن تُفرض عليك بعض الرسوم إن ثبت وجود أي أضرار.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>ترك تعقيب عن تجربتك</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										تجلب التعقيبات التحسينات. نحب أن نتلقى التعقيبات من العملاء. يمكنك تقديم ملاحظاتك واقتراحاتك حول الخدمات التي يجري توفيرها لك من خلال موقع nowbuysell.com.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>كيفية تقديم شكوى؟</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										يسعدنا سماع كل مخاوفك على <a class="web-email-adr" href="mailto:info@nowbuysell.com"> info@nowbuysell.com</a> و <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>التوثيق المؤقت لحالات فقد أو سرقة الرخص</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										إذا فقدت رخصة قيادتك الإماراتية أو انتهت صلاحيتها أو كنت تقوم بتجديدها، فقد تُقبل الوثائق المؤقتة التي تقدمها الحكومة.
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>ما هي الشروط العامة لتأجير سيارة من خلال موقع nowbuysell.com؟</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										بصورة عامة، يجب ألا يقل عمر السائق حتى يستأجر سيارة لدينا عن 18 عاماً وأن يكون حاملاً لبطاقة ائتمان صالحة باسمه الكامل ورخصة قيادة نظيفة
									</p>
								</div>
							</div>
							<div class="wo-forumcontent">
								<div class="wo-forumcontent__title">
									<h3>ما هي شروط الدفع النقدي لتأجير السيارة؟</h3>
								</div>
								<div class="wo-forumcontent__description">
									<p>
										تقبل بعض المواقع سداد المبالغ المستحقة نقداً؛ على أن تُطبق على الرغم من ذلك الشروط والأحكام، ويلتزم السائق  بتقديم بطاقة ائتمان صالحة باسمه كضمان عند الاستلام. لمزيد من التفاصيل، يرجى الاتصال على الرقم <a class="web-phone-no" href="tel:+950 (111) 044 833"><bdi>+950 (111) 044 833</bdi></a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- MAIN END -->
	</div>
	<!-- PAGE CONTAINER END -->
}

