@{
    ViewBag.Title = "Wishlist";
}
<!--Body Content-->
<div id="page-content">
    <!--Home slider-->
    <div class="slideshow slideshow-wrapper pb-section">
        <div class="home-slideshow">
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload" data-src="../assets/images/slideshow-banners/home2-default-banner1.jpg" src="../assets/images/slideshow-banners/home2-default-banner1.jpg" alt="Shop Our New Collection" title="Shop Our New Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content middle">
                            <div class="container">
                                <div class="wrap-caption right">
                                    <h2 class="h1 mega-title slideshow__title">Our New Collection</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Save up to 50% Off</span>
                                    <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload" data-src="../assets/images/slideshow-banners/home2-default-banner1.jpg" src="../assets/images/slideshow-banners/home2-default-banner1.jpg" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content middle">
                            <div class="container">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Fashion &amp; Show</h2>
                                    <span class="mega-subtitle slideshow__subtitle">A World Fashion and Trendy Fashion Clother's</span>
                                    <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Home slider-->
    <!--Weekly Bestseller-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">Weekly Bestseller</h2>
                        <p>Our most popular cars based on sales</p>
                    </div>
                    <div class="carSlider grid-cars">
                        <div class="col-12 item">
                            <!-- start car image -->
                            <div class="car-image">
                                <!-- start car image -->
                                <a href="car-layout-1.html" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- Variant Image-->
                                    <!-- car label -->
                                    <div class="car-labels rounded"><span class="lbl on-sale">Sale</span> <span class="lbl pr-label1">new</span></div>
                                    <!-- End car label -->
                                </a>
                                <!-- end car image -->
                                <!-- countdown start -->
                                <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                <!-- countdown end -->
                                <!-- Start car button -->
                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end car button -->
                            </div>
                            <!-- end car image -->
                            <!--start car details -->
                            <div class="car-details text-center">
                                <!-- car name -->
                                <div class="car-name">
                                    <a href="car-layout-1.html">Edna Dress</a>
                                </div>
                                <!-- End car name -->
                                <!-- car price -->
                                <div class="car-price">
                                    <span class="old-price">$500.00</span>
                                    <span class="price">$600.00</span>
                                </div>
                                <!-- End car price -->
                                <!-- Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded green" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded aqua" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                </ul>
                                <!-- End Variant -->
                            </div>
                            <!-- End car details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start car image -->
                            <div class="car-image">
                                <!-- start car image -->
                                <a href="car-layout-1.html" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- Variant Image-->
                                </a>
                                <!-- end car image -->
                                <!-- Start car button -->
                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end car button -->
                            </div>
                            <!-- end car image -->
                            <!--start car details -->
                            <div class="car-details text-center">
                                <!-- car name -->
                                <div class="car-name">
                                    <a href="car-layout-1.html">Elastic Waist Dress</a>
                                </div>
                                <!-- End car name -->
                                <!-- car price -->
                                <div class="car-price">
                                    <span class="price">$748.00</span>
                                </div>
                                <!-- End car price -->
                                <!-- Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded black" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1jpg"></li>
                                    <li class="swatch small rounded purple" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded teal" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                </ul>
                                <!-- End Variant -->
                            </div>
                            <!-- End car details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start car image -->
                            <div class="car-image">
                                <!-- start car image -->
                                <a href="car-layout-1.html" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- Variant Image-->
                                    <!-- car label -->
                                    <div class="car-labels rounded"><span class="lbl pr-label2">Hot</span></div>
                                    <!-- End car label -->
                                </a>
                                <!-- end car image -->
                                <!-- Start car button -->
                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end car button -->
                            </div>
                            <!-- end car image -->
                            <!--start car details -->
                            <div class="car-details text-center">
                                <!-- car name -->
                                <div class="car-name">
                                    <a href="car-layout-1.html">3/4 Sleeve Kimono Dress</a>
                                </div>
                                <!-- End car name -->
                                <!-- car price -->
                                <div class="car-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End car price -->
                                <!-- Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded red" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded yellow" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                </ul>
                                <!-- End Variant -->
                            </div>
                            <!-- End car details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start car image -->
                            <div class="car-image">
                                <!-- start car image -->
                                <a href="car-layout-1.html" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- Variant Image-->
                                    <!-- car label -->
                                    <div class="car-labels rounded"><span class="lbl on-sale">Sale</span></div>
                                    <!-- End car label -->
                                </a>
                                <!-- end car image -->
                                <!-- Start car button -->
                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end car button -->
                            </div>
                            <!-- end car image -->
                            <!--start car details -->
                            <div class="car-details text-center">
                                <!-- car name -->
                                <div class="car-name">
                                    <a href="car-layout-1.html">Cape Dress</a>
                                </div>
                                <!-- End car name -->
                                <!-- car price -->
                                <div class="car-price">
                                    <span class="old-price">$900.00</span>
                                    <span class="price">$788.00</span>
                                </div>
                                <!-- End car price -->
                                <!-- Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded black" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded maroon" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded darkgreen" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                </ul>
                                <!-- End Variant -->
                            </div>
                            <!-- End car details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start car image -->
                            <div class="car-image">
                                <!-- start car image -->
                                <a href="car-layout-1.html" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                    <!-- End hover image -->
                                    <!-- Variant Image-->
                                    <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                    <!-- Variant Image-->
                                </a>
                                <!-- end car image -->
                                <!-- Start car button -->
                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end car button -->
                            </div>
                            <!-- end car image -->
                            <!--start car details -->
                            <div class="car-details text-center">
                                <!-- car name -->
                                <div class="car-name">
                                    <a href="car-layout-1.html">Paper Dress</a>
                                </div>
                                <!-- End car name -->
                                <!-- car price -->
                                <div class="car-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End car price -->
                                <!-- Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded red" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                    <li class="swatch small rounded yellow" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                </ul>
                                <!-- End Variant -->
                            </div>
                            <!-- End car details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Weekly Bestseller-->
    <!--Parallax Section-->
    <div class="section">
        <div class="hero hero--large hero__overlay bg-size">
            <img class="bg-img" src="~/assets/images/parallax-banners/parallax-banner.jpg" alt="" />
            <div class="hero__inner">
                <div class="container">
                    <div class="wrap-text  left text-small font-bold">
                        <h2 class="h2 mega-title">Belle <br> The best choice for your store</h2>
                        <div class="rte-setting mega-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                        <a href="#" class="btn">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Parallax Section-->
    <!--New Arrivals-->
    <div class="car-rows section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">New Arrivals</h2>
                        <p>Grab these new items before they are gone!</p>
                    </div>
                </div>
            </div>
            <div class="grid-cars">
                <div class="row">
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <!-- start car image -->
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- Variant Image-->
                                <!-- car label -->
                                <div class="car-labels rounded"><span class="lbl on-sale">Sale</span> <span class="lbl pr-label1">new</span></div>
                                <!-- End car label -->
                            </a>
                            <!-- end car image -->
                            <!-- countdown start -->
                            <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                            <!-- countdown end -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end car button -->
                        </div>
                        <!-- end car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Edna Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="old-price">$500.00</span>
                                <span class="price">$600.00</span>
                            </div>
                            <!-- End car price -->
                            <!-- Color Variant -->
                            <ul class="swatches">
                                <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded green" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded aqua" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                            </ul>
                            <!-- End Variant -->
                        </div>
                        <!-- End car details -->
                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <!-- start car image -->
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- Variant Image-->
                            </a>
                            <!-- end car image -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end car button -->
                        </div>
                        <!-- end car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Elastic Waist Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$748.00</span>
                            </div>
                            <!-- End car price -->
                            <!-- Color Variant -->
                            <ul class="swatches">
                                <li class="swatch small rounded black" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded purple" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded teal" rel="~/assets/images/car-images/car-image1.jpg"></li>
                            </ul>
                            <!-- End Variant -->
                        </div>
                        <!-- End car details -->
                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <!-- start car image -->
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- Variant Image-->
                                <!-- car label -->
                                <div class="car-labels rounded"><span class="lbl pr-label2">Hot</span></div>
                                <!-- End car label -->
                            </a>
                            <!-- end car image -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end car button -->
                        </div>
                        <!-- end car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">3/4 Sleeve Kimono Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$550.00</span>
                            </div>
                            <!-- End car price -->
                            <!-- Color Variant -->
                            <ul class="swatches">
                                <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded red" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded yellow" rel="~/assets/images/car-images/car-image1.jpg"></li>
                            </ul>
                            <!-- End Variant -->
                        </div>
                        <!-- End car details -->
                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <!-- start car image -->
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- Variant Image-->
                                <!-- car label -->
                                <div class="car-labels rounded"><span class="lbl on-sale">Sale</span></div>
                                <!-- End car label -->
                            </a>
                            <!-- end car image -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end car button -->
                        </div>
                        <!-- end car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Cape Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="old-price">$900.00</span>
                                <span class="price">$788.00</span>
                            </div>
                            <!-- End car price -->
                            <!-- Color Variant -->
                            <ul class="swatches">
                                <li class="swatch small rounded black" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded maroon" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded navy" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded darkgreen" rel="~/assets/images/car-images/car-image1.jpg"></li>
                            </ul>
                            <!-- End Variant -->
                        </div>
                        <!-- End car details -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <!-- start car image -->
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                <img class="grid-view-item__image hover variantImg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- Variant Image-->
                            </a>
                            <!-- end car image -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Select Options</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end car button -->
                        </div>
                        <!-- end car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Paper Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$550.00</span>
                            </div>
                            <!-- End car price -->
                            <!-- Color Variant -->
                            <ul class="swatches">
                                <li class="swatch small rounded gray" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded red" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded orange" rel="~/assets/images/car-images/car-image1.jpg"></li>
                                <li class="swatch small rounded yellow" rel="~/assets/images/car-images/car-image1.jpg"></li>
                            </ul>
                            <!-- End Variant -->
                        </div>
                        <!-- End car details -->
                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <div class="car-image">
                            <!--start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End hover image -->
                            </a>
                            <!-- end car image -->
                            <!-- car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start car button -->
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="#" title="Add to Wishlist">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End car button -->
                        </div>
                        <!--End start car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Romary Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$348.60</span>
                            </div>
                            <!-- End car price -->
                        </div>
                        <!-- End car details -->
                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car" />
                                <!-- End hover image -->
                            </a>
                            <!-- end car image -->
                            <!-- Start car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="#" title="Add to Wishlist">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End car button -->
                        </div>
                        <!--End start car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Lima Shirt</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$698.00</span>
                            </div>
                            <!-- End car price -->
                        </div>
                        <!-- End car details -->

                    </div>
                    <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                        <div class="car-image">
                            <!-- start car image -->
                            <a href="car-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="../assets/images/car-images/car-image1.jpg" src="~/assets/images/car-images/car-image1.jpg" alt="image" title="car">
                                <!-- End hover image -->
                            </a>
                            <!-- car button -->
                            <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="add-to-wishlist wishlist bg-transparent text-dark" href="#" title="Add to Wishlist">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End car button -->
                        </div>
                        <!-- End start car image -->
                        <!--start car details -->
                        <div class="car-details text-center">
                            <!-- car name -->
                            <div class="car-name">
                                <a href="car-layout-1.html">Elastic Waist Dress</a>
                            </div>
                            <!-- End car name -->
                            <!-- car price -->
                            <div class="car-price">
                                <span class="price">$748.00</span>
                            </div>
                            <!-- End car price -->
                        </div>
                        <!-- End car details -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <a href="shop-left-sidebar.html" class="btn">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Featured Car-->
    <!--Logo Slider-->
    <div class="section logo-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">The Most Loved Brands</h2>
                    </div>
                    <div class="logo-bar">
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="~/assets/images/logo/brandlogo.jpg" alt="" title="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Logo Slider-->
</div>
<!--End Body Content-->
